@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  background-color: #fff;
  color: #050500;
  font-family: 'Noto Sans TC', 'Microsoft YaHei', 'LiHei Pro', 'Noto Sans TC', sans-serif; }

.responsive-img {
  width: 100%; }

.KV-bg {
  background: url("../img/bg_1920x900.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .KV-bg {
      min-height: 350px; } }
  .KV-bg .car {
    background: url("../img/car_1920x900.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    min-height: 700px;
    z-index: 100;
    position: absolute; }
    @media only screen and (max-width: 600px) {
      .KV-bg .car {
        min-height: 350px; } }
  .KV-bg .dark-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
    @media only screen and (max-width: 600px) {
      .KV-bg .dark-overlay {
        min-height: 350px; } }
    .KV-bg .dark-overlay .home-inner {
      width: 100%;
      min-height: 700px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 600px) {
        .KV-bg .dark-overlay .home-inner {
          min-height: 350px; } }
      .KV-bg .dark-overlay .home-inner .KV {
        text-align: center;
        z-index: 100;
        cursor: pointer; }

.action {
  background-image: url("../img/form-bg.png");
  background-attachment: fixed;
  background-color: #8b8b8b;
  color: #fff; }

.title {
  font-weight: 500;
  font-size: 2.58rem; }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 1.58rem;
      line-height: 2.2rem; } }

.checkbox {
  font-size: 13px; }

.list-items {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap; }
  .list-items .list-item {
    flex: 1 1 33.33%;
    width: 100%;
    justify-content: center; }
    @media only screen and (max-width: 600px) {
      .list-items .list-item {
        flex: 1 1 100%; } }
  .list-items .relative {
    position: relative; }

.list-items-center {
  justify-content: center; }

.list-item-body {
  position: relative;
  display: flex; }
  .list-item-body .float-tag {
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -5px; }
  .list-item-body .icon-gift {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px; }
    @media only screen and (max-width: 600px) {
      .list-item-body .icon-gift {
        display: inline-block;
        right: -4px; } }
  .list-item-body .list-item-img {
    position: relative;
    z-index: 1; }

#GOTOP {
  display: none;
  width: 0px;
  height: 40px;
  cursor: pointer;
  right: 0;
  bottom: 0;
  background-color: #f34d59;
  text-align: center;
  color: #fff;
  position: fixed;
  z-index: 9999; }

#GOTOP:hover {
  background-color: #fdd237; }

#GOTOP:hover i {
  color: #f34d59; }

#GOTOP i {
  display: block;
  vertical-align: middle;
  font-size: 24px;
  text-align: center;
  margin-top: 6px;
  opacity: 0.1; }

#GOTOP.active {
  width: 40px; }

#GOTOP.active i {
  opacity: 1; }

.iframe {
  background-color: white; }

#iframe_TOP iframe {
  z-index: 900;
  overflow: visible;
  height: 280px;
  width: 100%;
  margin-bottom: -219px;
  border: 0 none;
  position: relative; }

@media (max-width: 1023px) {
  #iframe_TOP iframe {
    z-index: 0; } }
