@import 'base/_media-queries.scss';
@import "base/_global.scss";
@import 'base/_variables.scss';


.KV-bg {
  background: url("../img/bg_1920x900.gif") no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
  position: relative;
  @include max-screen(600px) {
    min-height: 350px;
    background: url("../img/bg_768x500.png") no-repeat center top fixed;
  }
  .car {
    background: url("../img/car_1920x900.png") no-repeat center center;
    -webkit-background-size:contain;
    background-size: contain;
    width: 100%;
    min-height: 700px;
    z-index: 100;
    position: absolute;
    @include max-screen(600px) {
      min-height: 350px;
    }
  }
  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 700px;
    @include max-screen(600px) {
      min-height: 100%;
    }
    .home-inner {
      width:100%;
      min-height: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include max-screen(600px) {
        min-height: 350px;
      }

      .KV {
        text-align: center;
        z-index:100;
        cursor: pointer;
        &-body {
          position: relative;
          display: flex;
          flex-direction: column;
          .KV-main {
            align-self: center;
            transform: translateY(25%);
          }
          .freeDownload {
            align-self: center;
            @include max-screen(600px) {
              padding:20px 40px;
            }
          }
        }
      }
    }
  }
}

.action {
  background-image: url("../img/form-bg.png");
  background-attachment: fixed;
  background-color: $actionBg;
  color: $mainWhite;
}

.title {
  font-weight: 500;
  font-size: 2.58rem;
  @include max-screen(600px) {
    font-size: 1.58rem;
    line-height: 2.2rem;
  }
}

.checkbox {
  font-size: 13px;
}
.list-items {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  .list-item {
    flex: 1 1 33.33%;
    width: 100%;
    justify-content: center;
    @include max-screen(600px){
      flex: 1 1 100%;
    }
  }
  .relative {
    position: relative;
  }
}
.list-items-center {
  justify-content: center;
}
.list-item-body {
  position: relative;
  display: flex;


  .float-tag {
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -5px;

  }
  .icon-gift {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 80px;

    @include max-screen(600px){
      display: inline-block;
      right: -4px;
    }
  }
  .list-item-img {
    position: relative;
    z-index: 1;
  }
}

#GOTOP {
  display: none;
  width: 0px;
  height: 40px;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  background-color: #f34d59;
  text-align: center;
  color: #fff;
  position: fixed;
  z-index: 9999
}

#GOTOP:hover {
  background-color: #fdd237
}

#GOTOP:hover i {
  color: #f34d59
}

#GOTOP i {
  display: block;
  vertical-align: middle;
  font-size: 24px;
  text-align: center;
  margin-top: 6px;
  opacity: 0.1
}

#GOTOP.active {
  width: 40px
}

#GOTOP.active i {
  opacity: 1
}

.iframe {
  background-color: white;
}

#iframe_TOP iframe {
  z-index: 900;
  overflow: visible;
  height: 280px;
  width: 100%;
  margin-bottom: -219px;
  border: 0 none;
  position: relative
}

@media (max-width: 1023px) {
  #iframe_TOP iframe {
    z-index: 0
  }
}

/* 這是設定所有放大縮小的物件是使用移動方式變化 */
.move {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}